html {
	height: 100%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	scroll-behavior: smooth;
}


body {
	margin: 0;
	padding: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	font-family: 'Public Sans', sans-serif;
	background-color:#FAFAFA;
}

main{
	flex-grow: 1;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
