.articles-part{
    padding: 80px 0;
}

.articles__title{
    margin: 0;
    padding: 0;
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 100;
    font-size: 40px;
    line-height: 64px;
    letter-spacing: -0.714286px;
    color: #2D314D;
}
.articles__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 40px;
}
.articles__item{
    width: 255px;
    background: #FFFFFF;
    border-radius: 5px;
}
.articles__blok{
    display: block;
    margin: 0;
    font-family: "Public Sans";
    font-size: 10px;
    line-height: 18px;
    letter-spacing: -0.15625px;
    color: #9597A5;
}
.articles__content{
    width: 231px;
    padding-top: 25px;
    padding-left: 24px;
    margin-bottom: 24px;
}

.articles__item-title{
    margin: 0;
    padding: 0;
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.285714px;
    color: #2D314D;
    margin-bottom: 8px;
    cursor: pointer;
    transition: color 0.3s;
    margin-top: 8px;

    &:hover{
        color: #30C88F;
    }
}

.articles__item-text{
    margin: 0;
    padding: 0;
    font-family: "Public Sans";
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.203125px;
    color: #9597A5;
}


@media only screen and (max-width:1096px){
    .articles__list{
        flex-wrap: wrap;
    }
    .container{
        width: 96%;
    }
    .articles__title{
        text-align: center;
    }
}

@media only screen and (max-width:600px){
    .articles-part{
        padding-top:88px;
        padding-bottom: 112px;
    }

    .articles__list{
        flex-direction: column;
    }

    .articles__item{

        & + &{
            margin-top: 42px;
        }

    }
    .articles__list{
        margin-top: 31px;
    }
}
@media only screen and (max-width:400px){
    .articles__item{
        width: 100%;
    }
    .articles__img{
        width: 100%;
    }
    .articles__content{
        width: 100%;
    }
}